body {
  height: 100%;
  padding: 0;
}

#root {
  height: 100%;
}

.App {
  font-family: sans-serif;
  text-align: center;
  height: 100%;
  display: flex;
}

.flexLayout1 {
  position: relative;
  width: 100%;
  height: 50%;
  background-color: aliceblue;
}
.flexLayout2 {
  position: relative;
  width: 100%;
  height: 50%;
  background-color: yellow;
}
